/* 
    Created on : 10.11.2014, 09:02:32
    Author     : Bernhard Molz
*/
@font-face { font-family: crayonFont; src: url(../images/PastelCrayon.ttf) format('truetype'); }
html { height: 100%; }
body { background-image: url(../images/karo.png); background-repeat: repeat;
	   font-family: crayonFont; overflow: hidden; height: 100%; user-select: none; -webkit-user-select: none; }
#myCanvas { position: absolute; left: 50px; top: 100px; z-index: 2; }
#finish { position: absolute; left: 500px; top: 500px; width: 250px; height: 250px; border-radius: 250px;
		  background-color: red; font-size: 36px; }
#finish h1 { text-align: center; vertical-align: middle; padding-top: 50px; color: white; }
#debug { float: right; height: 100px; width: 100px;
		 background-color: #EEEEEE; color: #999999; }
.arrow { position: absolute; visibility: hidden; }
.arrow#arrow1 { top: 0px; left: 50px; }
.arrow#arrow2 { top: 350px; left: 50px; }
#performance, #scores, #remainingGoals { font-size: 36px; color: #999999; text-align: center; }
#performance > span, #scores > span { display: inline-block; width: 20%; text-align: right; }
#performance #strokes, #performance #time,
#scores #score, #scores #hiscore { width: 10%; }
#performance #time.timeWarn { color: red; }
#remainingGoals { color: limegreen; }

.splash { position: absolute; min-width: 300px; width: 30%; min-height: 300px; height: 25%; 
		  margin-left: 35%; margin-top: 10%;
		  border: 2px solid black; border-radius: 120px 10px / 10px 120px;
		  font-size: 24px; background-color: white; }
.splash.expl { /* marker class */ }
.splash.hiscores { display: none; min-height: 450px; }
.splash.hiscores table { width: 100%; padding: 0 10px; }
.splash.hiscores table th { font-size: 28px; text-align: left; }
.splash.playagain { display: none; }
.splash.playagain.spacer50 { width: 50px; display: inline-block; }
.splash.dummy { position: absolute; display: none; z-index: 3; font-size: 24px;
				margin-top: 15%; margin-left: 25%; }
splash.playagain .yes, splash.playagain .no { /* marker classes for JS */ }

@keyframes blink { 0% { color: red; } 100% { color: green; } }
.splash.hiscores table tr.blink { animation: blink 0.5s linear infinite; } 
.splash.hiscores #tblHiscores td.score, .splash.hiscores #tblHiscores td.name {
	text-align: right;
}
.splash.hiscores td #txtHiscoreName { font-family: crayonFont; font-size: 24px; color: limegreen; width: 80px; }

.splash > h1 { text-align: center; }
.splash .info { text-align: center; display: table; width: 100%; padding-top: 20px; }
.splash .info { display: table; width: 100%; text-align: center; }

.click { background-image: url(../images/hatching.png); background-repeat: repeat; 
		 font-size: 24px; border: 2px solid black; padding: 10px; }
.click:active { font-weight: normal; }
.click:hover { font-weight: bold; }

#copyright { position: absolute; bottom: 20px; right: 20px; color: #999999;
			 transform: rotate(90deg); transform-origin: right; }
